html {
    scroll-behavior: smooth;
  }

body{
    font-family: "Varela Round";
    margin: 0;
}

.primera{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/fondojc.png);
    background-size: cover;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    color: white;
}

.primera .areas{
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}

.primera .areas a{
    padding: 15px;
    box-shadow: 0px 0px 10px 6px white;
    margin: 10px;
    text-decoration: none;
    color: white;
}

.primera .areas a:hover{
    background-color: #FD84FE;
    color: white;
    box-shadow: 0px 0px 10px 6px white;
}

/* .primera h1{
    color: white;
    font-size: 30px;
} */

.primera img{
    width: 450px;
    filter: drop-shadow(0 2px 5px rgba(242, 226, 221, 0.7));
}

.segunda {
    height: 100vh;
    padding: 15px;
    background-image: url(../img/fondojc2.png);
    background-size: cover;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap-reverse;
    position: relative;
}

.segunda img{
    width: 450px;
    filter: drop-shadow(0 2px 5px rgba(242, 226, 221, 0.7));
    z-index: 1;
}

.segunda .marketingdigital{
    z-index: 1;
    padding: 10px;
}

.segunda .marketingdigital a{
    text-decoration: none;
    background-color: white;
    color: black;
    border-radius: 30px;
    padding: 10px;
}

.segunda .marketingdigital a:hover{
    text-decoration: none;
    background-color: #FD84FE;
    color: white;
    border-radius: 30px;
    padding: 10px;
    box-shadow: 0px 0px 10px 6px white;
}

.segunda .capa{
    position: absolute;
    width: 100%;
    top: 0;
    height: 100%;
    background-color: rgba(0,0,0,.56);

}

.tercera {
    height: 100vh;
    padding: 15px;
    background-image: url(../img/fondojc4.png);
    background-size: cover;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* position: relative; */
    flex-direction: column;
}

.tercera img{
    width: 250px;
    box-shadow: 0px 0px 10px 6px white;
    border-radius: 30px;
}

.tercera .seccion1{
    text-align: center;
}

.tercera .seccion2{
    display: flex;
    justify-content: center;
    align-items: center;
}

.tercera .seccion2 .linea{
    animation: 1s lineacreciente 4s forwards;
}

.tercera .seccion2 .leyenda{
    padding: 10px;
}

@keyframes lineacreciente {
    from {
        width: 2px;
        background-color: white;
        height: 0px;
    }
    to {
        width: 2px;
        background-color: white;
        height: 100px;
    }
  }
